// add anti-idle-mode

#include <behaviors/anti_idle_mode.dtsi>
#include <dt-bindings/anti_idle_mode.h>

// add pointing/mouse support

#define ZMK_POINTING_DEFAULT_SCRL_VAL 30    // default: 10

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QTY_HR 0    // QWERTY w/ HRM
#define QTY 1       // QWERTY
#define CMK_HR 2    // Colemak w/ HRM
#define CMK 3       // Colemak
#define CMR 4       // Colemak Reversed
#define TRN 5       // Transparent (basic querty)
#define LOW 6       // Lower
#define RSE 7       // Raise
#define ADJ 8       // Adjust
#define FUN 9       // Function/Media
#define MAX 10      // Maxtend
#define MSE 11      // Mouse
#define NSP 12      // NumSpace
#define NTB 13      // NumTab (currently unused)
#define AGR 14      // AltGr (for Windows Umlauts via Alt+Numpad)
#define AGS 15      // AltGr+Shift (for Windows uppercase Umlauts via Alt+Numpad)
#define AJ2 16      // Adjust 2 = Adjust+LShift (additional control functions)

&lt { quick-tap-ms = <200>; };

&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE SEMI>;

    // SEMI is added here because QWERTY semicolon is letter 'O' in Colemak. Unfortunately, it doesn't automatically get shifted.
};

/ {
    // configure anti-idle.
    // in the keymap, bind &aim AIM_ON, &aim AIM_OFF, or &aim AIM_TOG to keys as desired.

    anti_idle {
        compatible = "zmk,anti-idle-generic";
        interval-ms = <9000>; // How often to send actions (ms)
        bindings = <&mmv MOVE_DOWN &mmv MOVE_RIGHT &mmv MOVE_UP &mmv MOVE_LEFT>; // Actions to perform (e.g., mouse move)
        tap_ms = <60>;   // Duration of each action (ms)
        wait_ms = <300>; // Delay between actions (ms)
    };

    // This keymap has a distinct ADJUST button, so tri-layer functionality (LOWER + RAISE => ADJUST) is not needed, 
    // and actually prevents activating the layer using only the ADJUST button.
    //
    //    conditional_layers {
    //        compatible = "zmk,conditional-layers";
    //        tri_layer {
    //            if-layers = <LOW RSE>;
    //            then-layer = <ADJ>;
    //        };
    //    };

    behaviors {
        mup: mute_unmute_ptt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            hold-while-undecided-linger;
            bindings = <&kp>, <&kp>;
        };

        hml: hrmod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 36 37 38 39 40 41 46 50 51 52 53 54 55>;

            // these are all the right-side buttons
            // left-side thumb button for LOW/TAB also included (46), allowing Alt-TAB with left hand without tapping-term-ms delay.

            hold-trigger-on-release;
        };

        hmr: hrmod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 6 15 16 17 18 19 20 28 29 30 31 32 33 42 43 44 45 46 47>;

            // these are all the left-side buttons

            hold-trigger-on-release;
        };

        hll: hrlayer_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&mo>, <&kp>;

            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 36 37 38 39 40 41 46 50 51 52 53 54 55>;

            // these are all the right-side buttons
            // left-side thumb button for LOW/TAB also included, allowing Alt-TAB with left hand without tapping-term-ms delay.

            hold-trigger-on-release;
        };

        hlr: hrlayer_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&mo>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 6 15 16 17 18 19 20 28 29 30 31 32 33 42 43 44 45 46 47>;

            // these are all the left-side buttons

            hold-trigger-on-release;
        };

        lsz: layer_tap_sz {
            // pass two parameters to this behaviour:
            // - number of layer to activate for momentary layer functionality
            // - second parameter will be ignored (e.g. just pass number 0), it will always tap &uml_sz macro

            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&mo>, <&uml_sz>;

            hold-trigger-on-release;
        };
    };

    //  key positions (for hold-trigger-key-positions):
    //  (0) TAB       (1))Q     (2) W     (3) E     (4) R        (5) T          (6) MINUS          (7) EQUAL  (8) Y          (9) U     (10) I     (11) O    (12) P     (13) BSPC
    //  (14) MAX BSPC (15) A    (16) S    (17) D    (18) F       (19) G         (20) LBKT         (21) RBKT  (22) H         (23) J     (24) K     (25) L    (26) SEMI  (27) APOS
    //  (28) LSHFT    (29) Z    (30) X    (31) C    (32) V       (33) B         (34) LC(SPACE)... (35) SPACE (36) N         (37) M     (38) COMMA (39) DOT  (40) SLASH (41) RSHFT ENTER
    //  (42) LCTRL    (43) LGUI (44) LALT (45) ADJ  (46) LOW TAB (47) MSE SPACE (48) none         (49) none  (50) NSP SPACE (51) RSE   (52) FUN   (53) RALT (54) RGUI  (55) RCTRL ENTER

    combos { compatible = "zmk,combos"; };

    macros {
        blockquote: blockquote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp GRAVE &kp GRAVE &kp GRAVE &kp ENTER &kp ENTER &kp GRAVE &kp GRAVE &kp GRAVE &kp ENTER>,
                <&macro_tap>,
                <&kp UP &kp UP>;
        };

        uml_a: umlaut_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        uml_o: umlaut_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        uml_u: umlaut_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N5 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        uml_sz: umlaut_sz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        umu_a: umlaut_a_uppercase {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        umu_o: umlaut_o_uppercase {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        umu_u: umlaut_u_uppercase {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESCAPE        &kp Q     &kp W     &kp E  &kp R  &kp T      &kp Y        &kp Y  &kp Y      &kp U  &kp I      &kp O         &kp P           &kp BSPC
&kp TAB           &kp A     &kp S     &kp D  &kp F  &kp G      &kp H        &kp H  &kp H      &kp J  &kp K      &kp L         &kp SEMI        &kp SQT
&kp LSHFT         &kp Z     &kp X     &kp C  &kp V  &kp B      &none        &kp B  &kp N      &kp M  &kp COMMA  &kp DOT       &kp SLASH       &mt RSHFT ENTER
&kp LEFT_CONTROL  &kp LGUI  &kp LALT  &mo 2  &mo 1  &kp SPACE  &none        &none  &kp SPACE  &mo 1  &kp LEFT   &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT
            >;
        };

        Layer1 {
            display-name = "Colemak-HRM";
            bindings = <
&kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &kp MINUS               &kp EQUAL          &kp NUMBER_6  &kp N7     &kp N8          &kp N9        &kp N0    &kp BSPC
&kp TAB         &kp F1        &kp F2        &kp F3        &kp F4        &kp F5  &kp LEFT_BRACKET        &kp RIGHT_BRACKET  &kp F6        &kp F7     &kp F8          &kp F9        &kp F10   &kp BACKSLASH
&kp LEFT_SHIFT  &kp F11       &kp F12       &none         &none         &none   &none                   &none              &none         &none      &none           &none         &none     &kp ENTER
&kp LCTRL       &kp LGUI      &kp LALT      &mo 2         &kp SPACE     &mo 1   &none                   &none              &mo 1         &kp SPACE  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN  &kp RIGHT
            >;
        };

        // The following two layers generate Colemak AltGr and Colemak AltGr-Shift international characters using Windows Alt+Numpad keystrokes.
        // Each key needs to be bound to a macro that sends the Alt+Numpad scancodes. You'll need lots of macros for this.
        // At the moment, only German Umlauts äöü, shifted German Umlauts ÄÖÜ and German "scharfes S" ß have been created.
        // ß (rewritten as "sz" in ASCII) has a very special binding because it functions as a layer shift when held, but needs to call
        // the uml_sz macro when tapped.

        layer_2 {
            bindings = <
&kp C_SLEEP  &trans  &trans  &trans  &trans  &trans  &kp PAGE_UP          &kp C_VOLUME_UP    &trans  &trans  &trans      &trans      &trans            &kp DELETE
&trans       &trans  &trans  &trans  &trans  &trans  &kp PAGE_DOWN        &kp C_VOLUME_DOWN  &trans  &trans  &trans      &trans      &trans            &kp PRINTSCREEN
&trans       &trans  &trans  &trans  &trans  &trans  &trans               &trans             &trans  &trans  &trans      &trans      &trans            &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans               &trans             &trans  &trans  &kp C_PREV  &kp C_MUTE  &kp C_PLAY_PAUSE  &kp C_NEXT
            >;
        };
    };
};
